body {
    margin: 0;
    font-family: arial, helvetica, verdana, 'times new roman', sans-serif;
    background-color: black;
}
/*
 * General style
 */

#content {
    margin-top: 60px;
}

.cyanBtn {
    background: -webkit-linear-gradient(top, rgb(4, 154, 214) 6%, rgb(8, 136, 192) 100%);
    background: -moz-linear-gradient(top, rgb(4, 154, 214) 6%, rgb(8, 136, 192) 100%);
    background: -ms-linear-gradient(top, rgb(4, 154, 214) 6%, rgb(8, 136, 192) 100%);
    background: linear-gradient(top, rgb(4, 154, 214) 6%, rgb(8, 136, 192) 100%);
    padding: 6px 16px 4px 16px;
    display: inline-block;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.cyanBtn a {
    text-decoration: none;
    color: white;
}

.cyanBtn .fa {
    margin-left: 12px;
}

.title {
    font-size: 24px;
    color: rgb(4, 154, 214);
}

.dialog {
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 5px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    left: 50%;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -ms-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}

.dialog .dialogButtons {
    float: right;
    margin-top: 20px;
}

.dialog .closeBtn {
	float: right;
	font-size: 20px;
}

.dialog .row {
	margin-bottom: 6px;
}

#uploadDialog {
    width: 400px;
    margin-left: -200px;
}

#uploadField {
    display: block;
    border: 2px dashed #CFCFCF;
    color: #CFCFCF;
    height: 150px;
    margin: 20px 0;
    padding-top: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#lightbox {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 900;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#logo {
    margin-top: 6px;
}

#navbar {
    display: block;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
}

#main-nav {
    display: inline-block;
    font-size: 12px;
    position: relative;
    left: 100px;
    top: 15px;
}

#main-nav ul {
    list-style: none;
}

#main-nav li {
    padding-right: 25px;
    float: left;
}

#main-nav li a {
    color: white;
    text-decoration: none;
}

#main-nav li a.active {
    color: rgb(4, 154, 214);
}

#main-nav li a:hover {
    color: rgb(4, 154, 214);
}

#navButtons {
	float: right;
}

#uploadAssetBtn {
    margin-top: 16px;
}

#imageCloud {
    position: relative;
    background-color: black;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#imageCloud .imageTile {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid black;
    cursor: pointer;
}

#imageCloud .shadow {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    -webkit-box-shadow: inset 0px 0px 100px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 100px -10px rgba(0,0,0,0.75);
    -ms-box-shadow: inset 0px 0px 100px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 100px -10px rgba(0,0,0,0.75);
    z-index: 100;
}

#imageCloud .imageTile img {
    width: auto;
    height: 100%;
}

#imageCloud .imageTile .click-counter {
    color: white;
    display: inline-block;
    background-color: black;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1px 4px;   
}

#preview {
	position: absolute;
	display: block;
	width: 200px;
	background-color: #111;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -ms-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
	padding: 8px;
	z-index: 200;
}

#preview #arrow {
	display: block;
	width: 30px;
	height: 30px;
	background-color: #111;
	position: absolute;
	left: -15px;
	top: 30px;
	z-index: -1;
	transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
    -ms-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}

#preview .previewThumbnail {
	display: block;
}

#preview .previewThumbnail img {
	max-height: 100%;
	max-width: 100%;
	border: 1px solid white;
}

#preview .filename {
	color: rgb(4, 154, 214);
	font-size: 11px;
	margin: 6px 0;
}

#preview table {
	color: #999;
	font-size: 11px;
	width: 100%;
}

#preview table td:nth-child(1) {
	padding: 2px 2px 2px 0;
}

#preview table td:nth-child(2) {
	color: #CCC;
}

#searchDialog {
	top: 50%;
	width: 600px;
	margin-left: -300px;
	margin-top: -80px;
}

#searchDialog #dialogSearchBtn {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
