<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>

<p-dialog header="Asset Upload" [(visible)]="display" width="600" modal="true" dismissableMask="true" [(draggable)]="draggable"
    [(resizable)]="resizable">

    <form (ngSubmit)="onSubmit(); assetUploadForm.reset();" #assetUploadForm="ngForm">

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <!--title field-->
            <div class="ui-g">
                <div class="ui-g-3">
                    <label for="title">Title *:</label>
                </div>
                <div class="ui-g-9">
                    <input pInputText id="title" type="text" name="title" [(ngModel)]="title" required #titleRef="ngModel" />
                    <div class="error" [hidden]="titleRef.valid || titleRef.pristine">This field is required.</div>
                </div>
            </div>

            <!--description field-->
            <div class="ui-g">
                <div class="ui-g-3">
                    <label for="description">Description:</label>
                </div>
                <div class="ui-g-9">
                    <textarea pInputTextarea id="description" type="text" name="description" [(ngModel)]="description"></textarea>
                </div>
            </div>

            <!--tags field-->
            <div class="ui-g">
                <div class="ui-g-3">
                    <label for="tags">Tags *:</label>
                </div>
                <div class="ui-g-9">
                    <input pInputText id="tags" type="text" name="tags" [(ngModel)]="tags" required #tagsRef="ngModel" />
                    <div class="error" [hidden]="tagsRef.valid || tagsRef.pristine">This field is required.</div>
                </div>
            </div>

            <!--tags2 field-->
            <div class="ui-g">
                <div class="ui-g-3">
                    <label for="tags2">Tags2:</label>
                </div>
                <div class="ui-g-9">
                    <p-multiSelect id="tags2" [options]="cities" [(ngModel)]="selectedCities" [overlayVisible]="true" name="tags2"></p-multiSelect>
                </div>
            </div>

        </div>

        <footer>
            <!--submit button-->
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button pButton type="submit" label="Submit" [disabled]="!assetUploadForm.form.valid"></button>
            </div>
        </footer>

    </form>

</p-dialog>