<div id="mbc-main-container">
    <h2>Image Editor</h2>

    <div>
        <section id="left-sidebar">
            <div id="navigation-bar">
                <div data-activites="rect">
                   <button pButton type="button" (click)="loadImage()" label="Load Image"></button>
                   <button pButton type="button" (click)="saveImage()" label="Save Image"></button>
                   <button pButton type="button" (click)="drawRect()" label="Rect"></button>
                </div>
            </div>
        </section>

        <section id="viewport">
            <div class="canvas-container">
                <canvas id="canvas" #canvas width="500" height="500">
                    Canvas not supported.
                </canvas>
            </div>
        </section>

        <div id="saveSection" #saveSection></div>
    </div>
</div>