<div id="mbc-main-container">

    <header id="mbc-header" class="mbc-row">
        <div id="mbc-navi-wrapper">
            <nav id="mbc-main-nav">
                <ul>
                    <li><a [routerLink]="['Dashboard']" class="mbc-main-nav-link">Dashboard</a></li>
                    <li><a [routerLink]="['My Assets']" class="mbc-main-nav-link">My Assets</a></li>
                    <li><a [routerLink]="['Statistics']" class="mbc-main-nav-link">Statistics</a></li>
                </ul>
            </nav>
        </div>

        <!-- MB logo -->
        <a href="/home" id="mbc-iaa-logo"></a>
        <a href="/home" id="mbc-iaa-claim"></a>

        <!-- <asset-upload-dialog></asset-upload-dialog> -->

    </header>

</div>

<router-outlet></router-outlet>
