<div id="mbc-main-container">

    <header id="mbc-header" class="mbc-row">
        <div id="mbc-navi-wrapper">
            <nav id="mbc-main-nav">
                <ul>
                    <li><a routerLink="/dashboard" routerLinkActive="active" class="mbc-main-nav-link">Dashboard</a></li>
                    <li><a routerLink="/my-assets" routerLinkActive="active" class="mbc-main-nav-link">My Assets</a></li>
                    <li><a routerLink="/statistics" routerLinkActive="active" class="mbc-main-nav-link">Statistics</a></li>
                    <li><a routerLink="/image-editor" routerLinkActive="active" class="mbc-main-nav-link">Image Editor</a></li>
                </ul>
            </nav>
        </div>

        <!-- MB logo -->
        <a routerLink="/dashboard" id="mbc-iaa-logo"></a>
        <a routerLink="/dashboard" id="mbc-iaa-claim"></a>

    </header>

</div>

<router-outlet></router-outlet>